<html>
<head>
  <title>Quotes</title>
</head>
<body>
  <h1>Welcome to QuotingDojo</h1>
  <form action=/quote method=post>
    <label>Your Name:</label>
    <input type=text name=name>
    <label>Your Quote:</label>
    <textarea name=quote rows=10 cols=100></textarea>
    <input type=submit value='Add my Quote!!'>
    <button><a href='/quote'>Skip to my Quotes!!</a></button>
  </form>
</body>
</html>
